.task-manager__task {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 46, 53);
    border-radius: 30px;
    padding: 5px 0px 5px 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

.task-manager__task-text{
    margin: 0;
    overflow: hidden;
    max-width: 200px;
    max-height: 23px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-manager__task_complete {
    text-decoration: line-through;
    color: rgb(111, 111, 113)
}
